.all{
    margin: 0;
}
aside section,
main section{
    margin: 35px 20px 0;
    padding-bottom: 31px;
}
aside section.qrcode{
    display: block;
}
aside section.downloadpdf,
.all aside .printnot,
main .notshow {
    display: none;
}

main .rsproject{
    display: flex;

}
main .rsproject img{
    width: 49%;
    height: 30%;
}
main .rsproject ul{
    margin-top: 0;
    margin-left: 15px;
}